/*两栏布局，左侧固定宽度300px，右侧根据浏览器宽度进行自适应变化*/
html, body{
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
}
.left{
    background-color: burlywood;
    height: 100%;
}
.right{
    background-color: aquamarine;
    height: 100%;
}
/*布局代码：*/
.container{
    overflow: auto;
}
.left{
    float: left;
    width: 300px;
}